
.status-bar {
    width:100%;
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 1.5vh 3vw;
    border-bottom: solid 3px #AEAEAE;
    background-color: white;
    align-items: center;
  }

  .logo {
    width: 17%;
    height: 3.3vh;
  }
  

    