
body{
    font-family: 'Open Sans', sans-serif;
    color: #2e363e;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main-screen{
    padding: 0px 25px;
    height: 100vh;
  }